<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Film Saved to Playlist</title>
</head>
<body>
<main layout:fragment="content">
    <div class="min-h-screen flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold text-center mb-8">Film saved...</h1>

        <a th:href="@{/videothek}"
           class="fixed bottom-5 left-5 text-blue-500 text-2xl hover:text-blue-700 transition-colors">
            Continue
        </a>
    </div>
</main>
</body>
</html>